---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

const allBlogArticles: CollectionEntry<'blog'>[] = (
  await getCollection('blog')
).sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)

import { formatDate } from '../../lib/utils'
---

<BaseLayout title="Blog">
  <h1>Blog Page</h1>
  <div>
    {
      allBlogArticles.map((article) => (
        <>
          <a href={'/blog/' + article.slug}>
            <img src={'/images/' + article.data.coverImage} alt="" />
          </a>
          <a href={'/blog/' + article.slug}>
            <h2>{article.data.title}</h2>
          </a>
          <div>
            <p>{formatDate(article.data.pubDate)}</p>
            <a href={'/blog/category/' + article.data.category}>
              {article.data.category}
            </a>
          </div>
        </>
      ))
    }
  </div>
</BaseLayout>
