---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import ArticleCard from '../components/ArticleCard.astro'
import { HOMEPAGE_ARTICLE_LIMIT } from '../constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import { Button, buttonVariants } from '../components/ui/button'
import { Input } from '../components/ui/input'
import { cn } from '../lib/utils'
import { ArrowRight, Github, Twitter } from 'lucide-react'

const allBlogArticles: CollectionEntry<'blog'>[] = (
  await getCollection('blog')
).sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)

const otherArticles: CollectionEntry<'blog'>[] = allBlogArticles.slice(1)
---

<BaseLayout
  title="Home"
  description="Stories, tutorials and resources about jamstack."
>
  <section class="space-y-6 py-12 lg:py-20">
    <div class="flex-col items-center space-y-8 text-center">
      <h1
        class="text-balance font-heading text-3xl font-bold !leading-[1.1] md:text-4xl lg:text-5xl"
      >
        Welcome to jamjam. Here you will find interesting articles, tutorials
        and resources about jamstack technologies.
      </h1>

      <p
        class="m-auto max-w-[64rem] text-balance text-lg leading-normal text-muted-foreground sm:text-xl sm:leading-8"
      >
        Subscribe to our newsletter and never miss any update. No spam. Promise.
      </p>

      <div
        class="m-auto flex w-full max-w-sm items-center space-x-2 md:max-w-md"
      >
        <Input type="email" placeholder="Email" />
        <Button type="submit">Subscribe</Button>
      </div>
    </div>
  </section>

  <div>
    <hr class="mb-7" />
    <p class="text-lg text-muted-foreground">Recent Articles</p>
  </div>

  <section class="grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="mb-10 grid gap-6 sm:grid-cols-2 lg:mb-14 lg:grid-cols-3">
      {
        allBlogArticles
          .slice(0, HOMEPAGE_ARTICLE_LIMIT)
          .map((article) => <ArticleCard article={article} />)
      }
    </div>
  </section>
  <div class="my-6">
    <a
      href="/blog"
      class={buttonVariants({ variant: 'outline' })}
      transition:animate="slide"
    >
      See All Articles
      <ArrowRight className="ml-2 size-5" />
    </a>
  </div>
</BaseLayout>
