---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout
  title="Home"
  description="Stories, tutorials and resources about jamstack."
>
  <section class="grid items-center gap-6 pb-8 pt-6 md:py-10">
    <h1 class="text-4xl font-semibold">
      Welcome to jamjam. The best place to find stories, tutorials and resources
      about jamstack!
    </h1>
  </section>
</BaseLayout>
