---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import { capitalize, formatDate } from '../lib/utils'
import { Badge } from './ui/badge'

const { article } = Astro.props

interface Props {
  article: CollectionEntry<'blog'>
}
---

<article class="group space-y-3">
  <a
    href={'/blog/' + article.slug}
    class="group flex flex-col rounded-xl border bg-white shadow-sm transition hover:shadow-md dark:border-gray-800 dark:bg-slate-900 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
  >
    <img
      class="h-full w-full overflow-hidden rounded-xl object-cover"
      src={'/images/' + article.data.coverImage}
      alt="descriptive text"
      transition:name={'img-' + article.slug}
    />
  </a>

  <div class="flex items-center justify-between">
    <a
      href={'/blog/category/' + article.data.category}
      transition:name={'category-' + article.slug}
    >
      <Badge>
        {capitalize(article.data.category)}
      </Badge>
    </a>
    <span
      class="font-medium text-muted-foreground"
      transition:name={'date-' + article.slug}
    >
      {formatDate(article.data.pubDate)}
    </span>
  </div>

  <div>
    <a href={'/blog/' + article.slug} class="group-hover:underline">
      <h2
        class="line-clamp-3 font-heading text-xl font-semibold leading-snug md:text-2xl"
        transition:name={'title-' + article.slug}
      >
        {article.data.title}
      </h2>
    </a>
  </div>
</article>
