---
import { formatDate } from '../lib/utils'
import type { CollectionEntry } from 'astro:content'
import CategoryTag from './CategoryTag.astro'

const { article } = Astro.props

interface Props {
  article: CollectionEntry<'blog'>
}
---

<div>
  <a href={'/blog/' + article.slug}>
    <img src={'/images/' + article.data.coverImage} alt="Article Thumbnail" />
  </a>
  <a href={'/blog/' + article.slug}>
    <h2>{article.data.title}</h2>
  </a>
  <div>
    <p>{formatDate(article.data.pubDate)}</p>
    <CategoryTag category={article.data.category} />
  </div>
</div>
