---
import { Search } from 'lucide-react'
import { Input } from '../components/ui/input'
---

<div class="my-6 flex items-start justify-between max-md:gap-4">
  <h1 class="inline-block text-3xl font-medium">Blog</h1>
  <span
    class="flex h-10 max-w-xs items-center rounded-md px-2 text-muted-foreground lg:w-full lg:px-3"
  >
    <Input type="text" disabled placeholder="Search (Coming Soon)" />
  </span>
</div>

<hr class="mb-7" />
