---
import { capitalize } from '../lib/utils'
import { Badge } from '../components/ui/badge'

const { category } = Astro.props

interface Props {
  category: string
}
---

<a href={'/blog/category/' + category}>
  <Badge>
    {capitalize(category)}
  </Badge>
</a>
