---
import { Heart } from 'lucide-react'
---

<footer class="border-t py-6 md:py-0">
  <div
    class="container flex flex-row items-center justify-center gap-4 md:h-16"
  >
    <p
      class="flex items-center gap-1 text-sm leading-loose text-muted-foreground"
    >
      <span class="flex items-center gap-1">
        Built with <Heart fill="red" stroke="none" size="18px" /> by {' '}
      </span>
      <a
        href="https://ggaurav.dev"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        devggaurav
      </a>
      <span>
        . The source code is available on{' '}
      </span>
      <a
        href="https://github.com/dev-ggaurav"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        GitHub
      </a>
      .
    </p>
  </div>
</footer>
