---
import { buttonVariants } from '../components/ui/button'
import { ThemeToggle } from '../components/ThemeToggle'
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/70"
>
  <div class="container flex h-16 items-center justify-between space-x-4">
    <a href="/" class="font-heading text-2xl font-medium text-primary">
      jamjam.</a
    >
    <nav class="flex items-center justify-between gap-x-6">
      <a href="/blog" class={buttonVariants({ variant: 'link' })}> Blog </a>
      <ThemeToggle client:idle />
    </nav>
  </div>
</header>
