---
import { ChevronLeft, ChevronRight } from 'lucide-react'
import { buttonVariants } from './ui/button'
import { cn } from '../lib/utils'

const { currentPage, totalPages, disablePrev, disableNext } = Astro.props

interface Props {
  currentPage: number
  totalPages: number
  disablePrev: boolean
  disableNext: boolean
}
---

<div class="mt-10 flex items-center justify-center gap-x-8">
  <a
    href={'/blog/?page=' + (currentPage - 1)}
    class={cn(
      'inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2',
      disablePrev && 'pointer-events-none opacity-50',
    )}
  >
    <ChevronLeft className="mr-1" />
    Previous
  </a>
  <a
    href={'/blog/?page=' + (currentPage + 1)}
    class={cn(
      'inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2',
      disableNext && 'pointer-events-none opacity-50',
    )}
  >
    Next
    <ChevronRight size={20} className="ml-1" />
  </a>
</div>
